<h2 id="movies-app-built-in-net-5-with-angular">Movies App built in .NET 5 with Angular</h2>
<h6 id="a-simple-spa-for-viewing-data-about-movies-offering-features-such-as-sorting-searching-and-filtering">A simple SPA for viewing data about movies, offering features such as sorting, searching, and filtering</h6>

<h3 id="built-with">Built with</h3>
<p>The Project is created with:</p>
<ul>
  <li><a href="https://angular.io/">Angular</a> for the responsive UI framework</li>
  <li><a href="https://material.angular.io/">Angular Materials</a> for UI components</li>
  <li><a href="https://getbootstrap.com">Bootstrap</a> for layout and styling</li>
  <li><a href="https://docs.microsoft.com/en-us/dotnet/core/dotnet-five">.NET 5</a> for the backend</li>
  <li>EntityFramewok Core for data access</li>
</ul>
<p>Click <a href="https://github.com/generic83/MoviesApp/blob/main/README.md">here </a> for more information about the project</p>
